body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

.nav {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.nav a:hover {
    text-decoration: underline;
}

.login-container {
    max-width: 400px;
    margin: auto;
    background-color: #181818;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.login-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #121212;
    color: #fff;
    box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza */
}

.input-field:focus {
    outline: none;
    border-color: #ffffff;
}

.login-button {
    background-color: #0408ff;
    color: #fff;
    padding: 15px;
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza */
}

.login-button:hover {
    background-color: #1a3a9e;
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #aaa;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation: moveStars 100s linear infinite;
}

.stars:after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation: moveStars 150s linear infinite reverse;
    opacity: 0.5;
    z-index: -1;
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}